.textAlignCenter {
    text-align: center;
}

.textAlignLeft {
    text-align: left;
}

.textAlignRight {
    text-align: right;
}

.imageAlignCenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.button1{
    background-color: #12d8ef;
    border-radius: 8px;
    border-width: 0;
    color: #000000;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    margin: 0;
    padding: 10px 12px;
    text-align: center;
    transition: all 200ms;
    vertical-align: baseline;
    white-space: nowrap;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    text-decoration: none;
}

.button1:hover {
    background: #FFF307
}

.button2{
    background-color: #FFF307;
    border-radius: 8px;
    border-width: 0;
    color: #000000;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    margin: 0;
    padding: 10px 12px;
    text-align: center;
    transition: all 200ms;
    vertical-align: baseline;
    white-space: nowrap;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    text-decoration: none;
}

.button2:hover {
    background: #12d8ef
}

.websiteButton{
    background-color: #FFF307;
    border-radius: 8px;
    border-width: 0;
    color: #000000;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    margin: 0;
    padding: 10px 12px;
    text-align: center;
    transition: all 200ms;
    vertical-align: baseline;
    white-space: nowrap;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    text-decoration: none;
}

.websiteButton:hover span {
    display:none
}

.websiteButton:hover {
    transform: scale(1.15);
}

.websiteButton:hover:before {
    content: "obvMath.github.io";
    font-weight: bold;
    text-align: center;
    font-size: 13px;
}

.youtubeButton{
    background-color: #12d8ef;
    border-radius: 8px;
    border-width: 0;
    color: #000000;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    margin: 0;
    padding: 10px 12px;
    text-align: center;
    transition: all 200ms;
    vertical-align: baseline;
    white-space: nowrap;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    text-decoration: none;
}

.youtubeButton:hover span {
    display:none
}

.youtubeButton:hover {
    transform: scale(1.15);
}

.youtubeButton:hover:before {
    content: "obvMath";
    font-weight: bold;
    text-align: center;
}

.discordButton{
    background-color: #FFF307;
    border-radius: 8px;
    border-width: 0;
    color: #000000;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    margin: 0;
    padding: 10px 12px;
    text-align: center;
    transition: all 200ms;
    vertical-align: baseline;
    white-space: nowrap;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    text-decoration: none;
}

.discordButton:hover span {
    display:none
}

.discordButton:hover {
    transform: scale(1.15);
}

.discordButton:hover:before {
    content: "obvMath#0289";
    font-weight: bold;
    text-align: center;
}

.githubButton1{
    background-color: #12d8ef;
    border-radius: 8px;
    border-width: 0;
    color: #000000;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    margin: 0;
    padding: 10px 12px;
    text-align: center;
    transition: all 200ms;
    vertical-align: baseline;
    white-space: nowrap;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    text-decoration: none;
}

.githubButton1:hover span {
    display:none
}

.githubButton1:hover {
    transform: scale(1.15);
}

.githubButton1:hover:before {
    content: "@obvMath";
    font-weight: bold;
    text-align: center;
}

.githubButton2{
    background-color: #12d8ef;
    border-radius: 8px;
    border-width: 0;
    color: #000000;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    margin: 0;
    padding: 10px 12px;
    text-align: center;
    transition: all 200ms;
    vertical-align: baseline;
    white-space: nowrap;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    text-decoration: none;
}

.githubButton2:hover span {
    display:none
}

.githubButton2:hover {
    transform: scale(1.15);
}

.githubButton2:hover:before {
    content: "@MathDevelops";
    font-weight: bold;
    text-align: center;
}

.MDWebsiteButton{
    background-color: #FFF307;
    border-radius: 8px;
    border-width: 0;
    color: #000000;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    margin: 0;
    padding: 10px 12px;
    text-align: center;
    transition: all 200ms;
    vertical-align: baseline;
    white-space: nowrap;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    text-decoration: none;
}

.MDWebsiteButton:hover span {
    display:none
}

.MDWebsiteButton:hover {
    transform: scale(1.15);
}

.MDWebsiteButton:hover:before {
    content: "mathdevelops.github.io";
    font-weight: bold;
    text-align: center;
    font-size: 10px;
}

.hypixelButton{
    background-color: #FFF307;
    border-radius: 8px;
    border-width: 0;
    color: #000000;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    margin: 0;
    padding: 10px 12px;
    text-align: center;
    transition: all 200ms;
    vertical-align: baseline;
    white-space: nowrap;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    text-decoration: none;
}

.hypixelButton:hover span {
    display:none
}

.hypixelButton:hover {
    transform: scale(1.15);
}

.hypixelButton:hover:before {
    content: "@obvMath";
    font-weight: bold;
    text-align: center;
}


.pcButton{
    background-color: #12d8ef;
    border-radius: 8px;
    border-width: 0;
    color: #000000;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    margin: 0;
    padding: 10px 12px;
    text-align: center;
    transition: all 200ms;
    vertical-align: baseline;
    white-space: nowrap;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    text-decoration: none;
}

.pcButton:hover span {
    display:none
}

.pcButton:hover {
    transform: scale(1.15);
}

.pcButton:hover:before {
    content: "Coming Soon";
    font-weight: bold;
    text-align: center;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: inherit;
    text-decoration: underline;
}

.withinpythonopenup:hover:after {
    content: " (Within Python, I have knowledge of discord.py, Pyautogui, and Asyncio - and I am always learning new things!)";
    color: #00FF00;
    
}

.withinpythonopenup:hover span {
    display:none
}

html, body { height: 100%;}

body > footer {
    position: sticky;
    top: 100vh;
}